In [39]:
import pandas as pd
import re
from datetime import datetime
import pytz  # Handles timezones

In [11]:
pip install RISE

Defaulting to user installation because normal site-packages is not writeable
Collecting RISE
  Obtaining dependency information for RISE from https://files.pythonhosted.org/packages/b9/e7/91ddb742829723d9746dc12c5c5d0511d34d6c8e378fa2bdf1e17c68a3d7/rise-5.7.1-py2.py3-none-any.whl.metadata
  Downloading rise-5.7.1-py2.py3-none-any.whl.metadata (2.8 kB)
Requirement already satisfied: notebook>=6.0 in c:\program files\arcgis\pro\bin\python\envs\arcgispro-py3\lib\site-packages (from RISE) (6.4.12)
Requirement already satisfied: jinja2 in c:\program files\arcgis\pro\bin\python\envs\arcgispro-py3\lib\site-packages (from notebook>=6.0->RISE) (3.0.3)
Requirement already satisfied: tornado>=6.1 in c:\program files\arcgis\pro\bin\python\envs\arcgispro-py3\lib\site-packages (from notebook>=6.0->RISE) (6.2)
Requirement already satisfied: pyzmq>=17 in c:\program files\arcgis\pro\bin\python\envs\arcgispro-py3\lib\site-packages (from notebook>=6.0->RISE) (25.0.2)
Requirement already satisfied: argon2-cffi in c:\program files\arcgis\pro\bin\python\envs\arcgispro-py3\lib\site-packages (from notebook>=6.0->RISE) (21.3.0)
Requirement already satisfied: traitlets>=4.2.1 in c:\program files\arcgis\pro\bin\python\envs\arcgispro-py3\lib\site-packages (from notebook>=6.0->RISE) (5.5.0)
Requirement already satisfied: jupyter-core>=4.6.1 in c:\program files\arcgis\pro\bin\python\envs\arcgispro-py3\lib\site-packages (from notebook>=6.0->RISE) (4.11.2)
Requirement already satisfied: jupyter-client>=5.3.4 in c:\program files\arcgis\pro\bin\python\envs\arcgispro-py3\lib\site-packages (from notebook>=6.0->RISE) (6.1.12)
Requirement already satisfied: ipython-genutils in c:\program files\arcgis\pro\bin\python\envs\arcgispro-py3\lib\site-packages (from notebook>=6.0->RISE) (0.2.0)
Requirement already satisfied: nbformat in c:\program files\arcgis\pro\bin\python\envs\arcgispro-py3\lib\site-packages (from notebook>=6.0->RISE) (5.6.1)
Requirement already satisfied: nbconvert>=5 in c:\program files\arcgis\pro\bin\python\envs\arcgispro-py3\lib\site-packages (from notebook>=6.0->RISE) (7.2.1)
Requirement already satisfied: nest-asyncio>=1.5 in c:\program files\arcgis\pro\bin\python\envs\arcgispro-py3\lib\site-packages (from notebook>=6.0->RISE) (1.5.6)
Requirement already satisfied: ipykernel in c:\program files\arcgis\pro\bin\python\envs\arcgispro-py3\lib\site-packages (from notebook>=6.0->RISE) (6.16.0)
Requirement already satisfied: Send2Trash>=1.8.0 in c:\program files\arcgis\pro\bin\python\envs\arcgispro-py3\lib\site-packages (from notebook>=6.0->RISE) (1.8.0)
Requirement already satisfied: terminado>=0.8.3 in c:\program files\arcgis\pro\bin\python\envs\arcgispro-py3\lib\site-packages (from notebook>=6.0->RISE) (0.13.1)
Requirement already satisfied: prometheus-client in c:\program files\arcgis\pro\bin\python\envs\arcgispro-py3\lib\site-packages (from notebook>=6.0->RISE) (0.8.0)
Requirement already satisfied: python-dateutil>=2.1 in c:\program files\arcgis\pro\bin\python\envs\arcgispro-py3\lib\site-packages (from jupyter-client>=5.3.4->notebook>=6.0->RISE) (2.8.2)
Requirement already satisfied: beautifulsoup4 in c:\program files\arcgis\pro\bin\python\envs\arcgispro-py3\lib\site-packages (from nbconvert>=5->notebook>=6.0->RISE) (4.12.2)
Requirement already satisfied: bleach in c:\program files\arcgis\pro\bin\python\envs\arcgispro-py3\lib\site-packages (from nbconvert>=5->notebook>=6.0->RISE) (4.1.0)
Requirement already satisfied: defusedxml in c:\program files\arcgis\pro\bin\python\envs\arcgispro-py3\lib\site-packages (from nbconvert>=5->notebook>=6.0->RISE) (0.7.1)
Requirement already satisfied: importlib-metadata>=3.6 in c:\program files\arcgis\pro\bin\python\envs\arcgispro-py3\lib\site-packages (from nbconvert>=5->notebook>=6.0->RISE) (6.0.0)
Requirement already satisfied: jupyterlab-pygments in c:\program files\arcgis\pro\bin\python\envs\arcgispro-py3\lib\site-packages (from nbconvert>=5->notebook>=6.0->RISE) (0.2.2)
Requirement already satisfied: markupsafe>=2.0 in c:\program files\arcgis\pro\bin\python\envs\arcgispro-py3\lib\site-packages (from nbconvert>=5->notebook>=6.0->RISE) (2.1.1)
Requirement already satisfied: mistune<3,>=2.0.3 in c:\program files\arcgis\pro\bin\python\envs\arcgispro-py3\lib\site-packages (from nbconvert>=5->notebook>=6.0->RISE) (2.0.4)
Requirement already satisfied: nbclient>=0.5.0 in c:\program files\arcgis\pro\bin\python\envs\arcgispro-py3\lib\site-packages (from nbconvert>=5->notebook>=6.0->RISE) (0.7.0)
Requirement already satisfied: packaging in c:\program files\arcgis\pro\bin\python\envs\arcgispro-py3\lib\site-packages (from nbconvert>=5->notebook>=6.0->RISE) (21.3)
Requirement already satisfied: pandocfilters>=1.4.1 in c:\program files\arcgis\pro\bin\python\envs\arcgispro-py3\lib\site-packages (from nbconvert>=5->notebook>=6.0->RISE) (1.5.0)
Requirement already satisfied: pygments>=2.4.1 in c:\program files\arcgis\pro\bin\python\envs\arcgispro-py3\lib\site-packages (from nbconvert>=5->notebook>=6.0->RISE) (2.14.0)
Requirement already satisfied: tinycss2 in c:\program files\arcgis\pro\bin\python\envs\arcgispro-py3\lib\site-packages (from nbconvert>=5->notebook>=6.0->RISE) (1.1.1)
Requirement already satisfied: fastjsonschema in c:\program files\arcgis\pro\bin\python\envs\arcgispro-py3\lib\site-packages (from nbformat->notebook>=6.0->RISE) (2.16.2)
Requirement already satisfied: jsonschema>=2.6 in c:\program files\arcgis\pro\bin\python\envs\arcgispro-py3\lib\site-packages (from nbformat->notebook>=6.0->RISE) (4.17.3)
Requirement already satisfied: pywinpty>=1.1.0 in c:\program files\arcgis\pro\bin\python\envs\arcgispro-py3\lib\site-packages (from terminado>=0.8.3->notebook>=6.0->RISE) (2.0.1)
Requirement already satisfied: argon2-cffi-bindings in c:\program files\arcgis\pro\bin\python\envs\arcgispro-py3\lib\site-packages (from argon2-cffi->notebook>=6.0->RISE) (21.2.0)
Requirement already satisfied: debugpy>=1.0 in c:\program files\arcgis\pro\bin\python\envs\arcgispro-py3\lib\site-packages (from ipykernel->notebook>=6.0->RISE) (1.5.1)
Requirement already satisfied: ipython>=7.23.1 in c:\program files\arcgis\pro\bin\python\envs\arcgispro-py3\lib\site-packages (from ipykernel->notebook>=6.0->RISE) (7.34.0)
Requirement already satisfied: matplotlib-inline>=0.1 in c:\program files\arcgis\pro\bin\python\envs\arcgispro-py3\lib\site-packages (from ipykernel->notebook>=6.0->RISE) (0.1.6)
Requirement already satisfied: psutil in c:\program files\arcgis\pro\bin\python\envs\arcgispro-py3\lib\site-packages (from ipykernel->notebook>=6.0->RISE) (5.9.0)
Requirement already satisfied: zipp>=0.5 in c:\program files\arcgis\pro\bin\python\envs\arcgispro-py3\lib\site-packages (from importlib-metadata>=3.6->nbconvert>=5->notebook>=6.0->RISE) (3.8.0)
Requirement already satisfied: setuptools>=18.5 in c:\program files\arcgis\pro\bin\python\envs\arcgispro-py3\lib\site-packages (from ipython>=7.23.1->ipykernel->notebook>=6.0->RISE) (67.7.2)
Requirement already satisfied: jedi>=0.16 in c:\program files\arcgis\pro\bin\python\envs\arcgispro-py3\lib\site-packages (from ipython>=7.23.1->ipykernel->notebook>=6.0->RISE) (0.18.2)
Requirement already satisfied: decorator in c:\program files\arcgis\pro\bin\python\envs\arcgispro-py3\lib\site-packages (from ipython>=7.23.1->ipykernel->notebook>=6.0->RISE) (5.1.1)
Requirement already satisfied: pickleshare in c:\program files\arcgis\pro\bin\python\envs\arcgispro-py3\lib\site-packages (from ipython>=7.23.1->ipykernel->notebook>=6.0->RISE) (0.7.5)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\program files\arcgis\pro\bin\python\envs\arcgispro-py3\lib\site-packages (from ipython>=7.23.1->ipykernel->notebook>=6.0->RISE) (3.0.5)
Requirement already satisfied: backcall in c:\program files\arcgis\pro\bin\python\envs\arcgispro-py3\lib\site-packages (from ipython>=7.23.1->ipykernel->notebook>=6.0->RISE) (0.2.0)
Requirement already satisfied: colorama in c:\program files\arcgis\pro\bin\python\envs\arcgispro-py3\lib\site-packages (from ipython>=7.23.1->ipykernel->notebook>=6.0->RISE) (0.4.6)
Requirement already satisfied: attrs>=17.4.0 in c:\program files\arcgis\pro\bin\python\envs\arcgispro-py3\lib\site-packages (from jsonschema>=2.6->nbformat->notebook>=6.0->RISE) (22.1.0)
Requirement already satisfied: pyrsistent!=0.17.0,!=0.17.1,!=0.17.2,>=0.14.0 in c:\program files\arcgis\pro\bin\python\envs\arcgispro-py3\lib\site-packages (from jsonschema>=2.6->nbformat->notebook>=6.0->RISE) (0.18.0)
Requirement already satisfied: six>=1.5 in c:\program files\arcgis\pro\bin\python\envs\arcgispro-py3\lib\site-packages (from python-dateutil>=2.1->jupyter-client>=5.3.4->notebook>=6.0->RISE) (1.16.0)
Requirement already satisfied: cffi>=1.0.1 in c:\program files\arcgis\pro\bin\python\envs\arcgispro-py3\lib\site-packages (from argon2-cffi-bindings->argon2-cffi->notebook>=6.0->RISE) (1.15.1)
Requirement already satisfied: soupsieve>1.2 in c:\program files\arcgis\pro\bin\python\envs\arcgispro-py3\lib\site-packages (from beautifulsoup4->nbconvert>=5->notebook>=6.0->RISE) (2.3.2.post1)
Requirement already satisfied: webencodings in c:\program files\arcgis\pro\bin\python\envs\arcgispro-py3\lib\site-packages (from bleach->nbconvert>=5->notebook>=6.0->RISE) (0.5.1)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in c:\program files\arcgis\pro\bin\python\envs\arcgispro-py3\lib\site-packages (from packaging->nbconvert>=5->notebook>=6.0->RISE) (3.0.9)
Requirement already satisfied: pycparser in c:\program files\arcgis\pro\bin\python\envs\arcgispro-py3\lib\site-packages (from cffi>=1.0.1->argon2-cffi-bindings->argon2-cffi->notebook>=6.0->RISE) (2.21)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\program files\arcgis\pro\bin\python\envs\arcgispro-py3\lib\site-packages (from jedi>=0.16->ipython>=7.23.1->ipykernel->notebook>=6.0->RISE) (0.8.3)
Requirement already satisfied: wcwidth in c:\program files\arcgis\pro\bin\python\envs\arcgispro-py3\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=7.23.1->ipykernel->notebook>=6.0->RISE) (0.2.5)
Downloading rise-5.7.1-py2.py3-none-any.whl (4.3 MB)
   ---------------------------------------- 4.3/4.3 MB 3.7 MB/s eta 0:00:00
Installing collected packages: RISE
Successfully installed RISE-5.7.1
Note: you may need to restart the kernel to use updated packages.

In [3]:
transactions_curated = pd.read_csv('C:/Users/DSHA-EXT/Desktop/Dubai Land Data/Python_Output_4_final_lat_long.csv')

In [5]:
df_cleaned = transactions_curated.loc[:, ~transactions_curated.columns.str.endswith('_ar')]

In [12]:
## Total Transactions
len(df_cleaned)

1427477

In [14]:
df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1427477 entries, 0 to 1427476
Data columns (total 37 columns):
 #   Column                Non-Null Count    Dtype
---  ------                --------------    -----
 0   Unnamed: 0            1427477 non-null  int64
 1   transaction_id        1427477 non-null  object
 2   procedure_id          1427477 non-null  int64
 3   trans_group_id        1427477 non-null  int64
 4   trans_group_en        1427477 non-null  object
 5   procedure_name_en     1427477 non-null  object
 6   instance_date         1427477 non-null  object
 7   property_type_id      1427477 non-null  int64
 8   property_type_en      1427477 non-null  object
 9   property_sub_type_id  1124948 non-null  float64
 10  property_sub_type_en  1124948 non-null  object
 11  property_usage_en     1427477 non-null  object
 12  reg_type_id           1427477 non-null  int64
 13  reg_type_en           1427477 non-null  object
 14  area_id               1427477 non-null  int64
 15  area_name_ar_x        1427477 non-null  object
 16  area_name_en          1427477 non-null  object
 17  building_name_en      998076 non-null   object
 18  project_number        997496 non-null   float64
 19  project_name_en       997496 non-null   object
 20  master_project_en     1213252 non-null  object
 21  nearest_landmark_en   1186001 non-null  object
 22  nearest_metro_en      1033249 non-null  object
 23  nearest_mall_en       1026471 non-null  object
 24  rooms_en              1105101 non-null  object
 25  has_parking           1427477 non-null  int64
 26  procedure_area        1427477 non-null  float64
 27  actual_worth          1427477 non-null  float64
 28  meter_sale_price      1427477 non-null  float64
 29  rent_value            35573 non-null    float64
 30  meter_rent_price      35573 non-null    float64
 31  no_of_parties_role_1  1426548 non-null  float64
 32  no_of_parties_role_2  1426548 non-null  float64
 33  no_of_parties_role_3  1426548 non-null  float64
 34  Area Name             1410722 non-null  object
 35  Latitude              1422113 non-null  float64
 36  Longitude             1422115 non-null  float64
dtypes: float64(12), int64(7), object(18)
memory usage: 403.0+ MB

In [13]:
# Unique Transaction Group List and Total Transactions
df_cleaned[['trans_group_en','procedure_name_en']].nunique()

trans_group_en        3
procedure_name_en    51
dtype: int64

In [17]:
# Transaction Count by Transaction Group
grouped_counts = df_cleaned.groupby(['trans_group_en'])['transaction_id'].count().reset_index()

# Rename the count column for clarity
grouped_counts.rename(columns={'transaction_id': 'transaction_count'}, inplace=True)

# Format transaction_count with commas
grouped_counts['transaction_count'] = grouped_counts['transaction_count'].apply(lambda x: f"{x:,}")

# Display result
print(grouped_counts.head())

  trans_group_en transaction_count
0          Gifts            52,849
1      Mortgages           290,283
2          Sales         1,084,345

In [20]:
# Transaction Count by Procedure Name
grouped_counts1 = df_cleaned.groupby(['procedure_name_en'])['transaction_id'].count().reset_index()

# Rename the count column for clarity
grouped_counts1.rename(columns={'transaction_id': 'transaction_count'}, inplace=True)

# Sort by transaction_count before formatting (as it's still numeric)
grouped_counts1.sort_values(by='transaction_count', ascending=False, inplace=True)

# Format transaction_count with commas
grouped_counts1['transaction_count'] = grouped_counts1['transaction_count'].apply(lambda x: f"{x:,}")

# Display result
print(grouped_counts1.head(52))

                                   procedure_name_en transaction_count
46                                              Sell           445,827
47                           Sell - Pre registration           443,100
34                             Mortgage Registration           195,470
7                                       Delayed Sell           130,458
24                         Lease to Own Registration            57,353
15                                             Grant            48,025
31                                   Modify Mortgage            19,638
5                                   Delayed Mortgage            14,392
13                          Development Registration            12,171
48                                  Sell Development            10,918
22                        Lease Finance Registration             7,397
25        Lease to Own Registration Pre-Registration             7,083
33                         Mortgage Pre-Registration             5,723
11                              Development Mortgage             5,591
14         Development Registration Pre-Registration             3,881
35                                 Mortgage Transfer             3,286
3                  Delayed Lease to Own Registration             2,178
17                            Grant Pre-Registration             2,123
18                             Grant on Delayed Sell             1,611
45                              Sale On Payment Plan             1,580
42                   Portfolio Mortgage Registration             1,360
1                                Delayed Development             1,216
16                                 Grant Development             1,090
20                    Lease Development Registration               942
26                             Lease to Own Transfer               823
30                       Modify Development Mortgage               686
28          Lease to Own on Development Registration               600
10            Delayed Sell Lease to Own Registration               566
40                   Portfolio Mortgage Modification               511
0                                Adding Land By Sell               458
23                               Lease to Own Modify               376
21                        Lease Finance Modification               327
49               Sell Development - Pre Registration               216
8                           Delayed Sell Development               152
29                          Modify Delayed Mortgage                 91
43  Portfolio Mortgage Registration Pre-Registration                62
39       Portfolio Mortgage Development Registration                46
36                Mortgage Transfer Pre-Registration                42
32                  Modify Mortgage Pre-Registration                27
41  Portfolio Mortgage Modification Pre-Registration                17
6                         Delayed Portfolio Mortgage                17
12             Development Mortgage Pre-Registration                12
27          Lease to Own on Development Modification                 9
50                     Transfer Development Mortgage                 7
38       Portfolio Mortgage Development Modification                 6
37                Portfolio Development Registration                 6
44                       Portfolio Mortgage Transfer                 2
19                          Lease Development Modify                 2
9             Delayed Sell Lease To Own Modification                 1
4                      Delayed Lease to Own Transfer                 1
2                        Delayed Lease to Own Modify                 1

In [23]:
# Transaction Count by Property Type Name
grouped_counts2 = df_cleaned.groupby(['property_type_en'])['transaction_id'].count().reset_index()

# Rename the count column for clarity
grouped_counts2.rename(columns={'transaction_id': 'transaction_count'}, inplace=True)

# Sort by transaction_count before formatting (as it's still numeric)
grouped_counts2.sort_values(by='transaction_count', ascending=False, inplace=True)

# Format transaction_count with commas
grouped_counts2['transaction_count'] = grouped_counts2['transaction_count'].apply(lambda x: f"{x:,}")

# Display result
print(grouped_counts2.head(100))

  property_type_en transaction_count
2             Unit           998,076
3            Villa           271,206
1             Land           123,428
0         Building            34,767

In [24]:
# Transaction Count by Property Sub type Name
grouped_counts3 = df_cleaned.groupby(['property_sub_type_en'])['transaction_id'].count().reset_index()

# Rename the count column for clarity
grouped_counts3.rename(columns={'transaction_id': 'transaction_count'}, inplace=True)

# Sort by transaction_count before formatting (as it's still numeric)
grouped_counts3.sort_values(by='transaction_count', ascending=False, inplace=True)

# Format transaction_count with commas
grouped_counts3['transaction_count'] = grouped_counts3['transaction_count'].apply(lambda x: f"{x:,}")

# Display result
print(grouped_counts3.head(100))

   property_sub_type_en transaction_count
2                  Flat           876,955
15                Villa           126,630
7                Office            64,301
5       Hotel Apartment            26,271
9                  Shop            15,254
6           Hotel Rooms            13,594
17             Workshop               529
12   Stacked Townhouses               477
13                Store               319
0              Building               245
16            Warehouse               155
1                Clinic                65
4                 Hotel                41
10           Show Rooms                41
11      Sized Partition                38
3             Gymnasium                28
8               Parking                 4
14                 Unit                 1

In [25]:
# Transaction Count by Property Usage Name
grouped_counts4 = df_cleaned.groupby(['property_usage_en'])['transaction_id'].count().reset_index()

# Rename the count column for clarity
grouped_counts4.rename(columns={'transaction_id': 'transaction_count'}, inplace=True)

# Sort by transaction_count before formatting (as it's still numeric)
grouped_counts4.sort_values(by='transaction_count', ascending=False, inplace=True)

# Format transaction_count with commas
grouped_counts4['transaction_count'] = grouped_counts4['transaction_count'].apply(lambda x: f"{x:,}")

# Display result
print(grouped_counts4.head(100))

                        property_usage_en transaction_count
8                             Residential         1,201,675
1                              Commercial           145,997
2                            Hospitality             40,257
9                Residential / Commercial            14,196
7                                   Other            13,832
6                               Multi-Use             5,705
3                              Industrial             3,507
0                            Agricultural             1,101
4                 Industrial / Commercial               661
10                                Storage               482
5   Industrial / Commercial / Residential                64

In [28]:
# Transaction Count by Area Name
grouped_counts5 = df_cleaned.groupby(['area_name_en'])['transaction_id'].count().reset_index()

# Rename the count column for clarity
grouped_counts5.rename(columns={'transaction_id': 'transaction_count'}, inplace=True)

# Sort by transaction_count before formatting (as it's still numeric)
grouped_counts5.sort_values(by='transaction_count', ascending=False, inplace=True)

# Format transaction_count with commas
grouped_counts5['transaction_count'] = grouped_counts5['transaction_count'].apply(lambda x: f"{x:,}")

# Display result
print(grouped_counts5.head(100))

               area_name_en transaction_count
182             Marsa Dubai           127,848
92         Al Thanyah Fifth            90,535
141            Burj Khalifa            87,881
12   Al Barsha South Fourth            86,382
143            Business Bay            77,133
..                      ...               ...
47               Al Kheeran             1,133
61              Al Murqabat             1,121
63               Al Muteena             1,087
40                Al Karama             1,081
240         Um Suqaim First             1,072

[100 rows x 2 columns]

In [30]:
# Transaction Count by Building Name 
grouped_counts6 = df_cleaned.groupby(['building_name_en'])['transaction_id'].count().reset_index()

# Rename the count column for clarity
grouped_counts6.rename(columns={'transaction_id': 'transaction_count'}, inplace=True)

# Sort by transaction_count before formatting (as it's still numeric)
grouped_counts6.sort_values(by='transaction_count', ascending=False, inplace=True)

# Format transaction_count with commas
grouped_counts6['transaction_count'] = grouped_counts6['transaction_count'].apply(lambda x: f"{x:,}")

# Display result
print(grouped_counts6.head(100))

                        building_name_en transaction_count
3178                      Seven City JLT             3,402
818                         Burj Khalifa             3,315
2718                      PRINCESS TOWER             2,819
3055                     SILICON GATES 1             2,704
2333                     Marina Pinnacle             2,673
...                                  ...               ...
1912                        LAGO VISTA-A             1,100
2660  PARAMOUNT TOWER HOTEL & RESIDENCES             1,096
1298                          Dubai Star             1,096
1624                     Goldcrest Views             1,090
131                            AL MANARA             1,088

[100 rows x 2 columns]

In [31]:
# Transaction Count by Project Name  
grouped_counts7 = df_cleaned.groupby(['project_name_en'])['transaction_id'].count().reset_index()

# Rename the count column for clarity
grouped_counts7.rename(columns={'transaction_id': 'transaction_count'}, inplace=True)

# Sort by transaction_count before formatting (as it's still numeric)
grouped_counts7.sort_values(by='transaction_count', ascending=False, inplace=True)

# Format transaction_count with commas
grouped_counts7['transaction_count'] = grouped_counts7['transaction_count'].apply(lambda x: f"{x:,}")

# Display result
print(grouped_counts7.head(100))

                 project_name_en transaction_count
1961                     REMRAAM            10,866
2103                  SKY COURTS            10,053
1241              JUMEIRAH PARK              6,778
1195  INTERNATIONAL CITY EMARATI             4,882
2589             VICTORY HEIGHTS             4,233
...                          ...               ...
542               CENTRIUM TOWER             1,486
182                 AYKON CITY 2             1,485
2330   THE FIELDS AT D11 - MBRMC             1,474
565               CONCORDE TOWER             1,470
2392        THE SUSTAINABLE CITY             1,450

[100 rows x 2 columns]

In [32]:
# Transaction Count by Master Project Name  
grouped_counts8 = df_cleaned.groupby(['master_project_en'])['transaction_id'].count().reset_index()

# Rename the count column for clarity
grouped_counts8.rename(columns={'transaction_id': 'transaction_count'}, inplace=True)

# Sort by transaction_count before formatting (as it's still numeric)
grouped_counts8.sort_values(by='transaction_count', ascending=False, inplace=True)

# Format transaction_count with commas
grouped_counts8['transaction_count'] = grouped_counts8['transaction_count'].apply(lambda x: f"{x:,}")

# Display result
print(grouped_counts8.head(100))

              master_project_en transaction_count
48                 Business Bay            94,098
121     Jumeirah Village Circle            85,547
90                 Dubai Marina            85,393
119       Jumeirah Lakes Towers            66,490
47                 Burj Khalifa            60,826
..                          ...               ...
173                 Springs - 5             1,258
30   Arabian Ranches - Savannah             1,190
189                   The World             1,154
159              Palm Jabal Ali             1,150
77        DUBAI HILLS - SIDRA 2             1,142

[100 rows x 2 columns]

In [33]:
# Transaction Count by Nearest Landmark Name  
grouped_counts9 = df_cleaned.groupby(['nearest_landmark_en'])['transaction_id'].count().reset_index()

# Rename the count column for clarity
grouped_counts9.rename(columns={'transaction_id': 'transaction_count'}, inplace=True)

# Sort by transaction_count before formatting (as it's still numeric)
grouped_counts9.sort_values(by='transaction_count', ascending=False, inplace=True)

# Format transaction_count with commas
grouped_counts9['transaction_count'] = grouped_counts9['transaction_count'].apply(lambda x: f"{x:,}")

# Display result
print(grouped_counts9.head(100))

                  nearest_landmark_en transaction_count
13       Sports City Swimming Academy           302,130
1                        Burj Al Arab           231,075
3                      Downtown Dubai           176,880
12                         Motor City           108,494
10               IMG World Adventures            93,998
5         Dubai International Airport            86,114
2                        Burj Khalifa            70,946
7                      Expo 2020 Site            42,870
4                Dubai Cycling Course            38,067
8                      Global Village            15,004
0   Al Makhtoum International Airport             8,317
9               Hamdan Sports Complex             6,304
6             Dubai Parks and Resorts             5,716
11                          Jabel Ali                86

In [34]:
# Transaction Count by Nearest Mall Name  
grouped_counts10 = df_cleaned.groupby(['nearest_mall_en'])['transaction_id'].count().reset_index()

# Rename the count column for clarity
grouped_counts10.rename(columns={'transaction_id': 'transaction_count'}, inplace=True)

# Sort by transaction_count before formatting (as it's still numeric)
grouped_counts10.sort_values(by='transaction_count', ascending=False, inplace=True)

# Format transaction_count with commas
grouped_counts10['transaction_count'] = grouped_counts10['transaction_count'].apply(lambda x: f"{x:,}")

# Display result
print(grouped_counts10.head(100))

        nearest_mall_en transaction_count
4           Marina Mall           415,909
1            Dubai Mall           267,922
3  Mall of the Emirates           149,510
0    City Centre Mirdif           122,688
2    Ibn-e-Battuta Mall            70,442

In [35]:
# Transaction Count by Nearest Metro Name  
grouped_counts11 = df_cleaned.groupby(['nearest_metro_en'])['transaction_id'].count().reset_index()

# Rename the count column for clarity
grouped_counts11.rename(columns={'transaction_id': 'transaction_count'}, inplace=True)

# Sort by transaction_count before formatting (as it's still numeric)
grouped_counts11.sort_values(by='transaction_count', ascending=False, inplace=True)

# Format transaction_count with commas
grouped_counts11['transaction_count'] = grouped_counts11['transaction_count'].apply(lambda x: f"{x:,}")

# Display result
print(grouped_counts11.head(100))

                        nearest_metro_en transaction_count
16  Buj Khalifa Dubai Mall Metro Station           115,976
18            Business Bay Metro Station            96,935
23                   Dubai Internet City            92,662
43                 Nakheel Metro Station            87,798
48               Rashidiya Metro Station            80,170
21                      Damac Properties            76,784
37                 Jumeirah Lakes Towers            61,733
51               Sharaf Dg Metro Station            42,911
30    First Abu Dhabi Bank Metro Station            40,899
32                         Harbour Tower            31,051
36              Jumeirah Beach Residency            29,900
47                         Palm Jumeirah            27,160
19                   Creek Metro Station            25,711
34             Ibn Battuta Metro Station            25,666
42                           Mina Seyahi            25,040
35               Jumeirah Beach Resdency            24,884
40                         Marina Towers            15,898
39             Marina Mall Metro Station            14,781
44               Noor Bank Metro Station            14,587
28                Etisalat Metro Station            10,638
24                          Dubai Marina             9,739
20                  DANUBE Metro Station             7,912
7                 Al Jadaf Metro Station             7,111
53            Trade Centre Metro Station             6,906
8              Al Jafiliya Metro Station             6,012
54            UAE Exchange Metro Station             5,106
14                             Al Sufouh             4,629
25                  ENERGY Metro Station             4,366
29                      Financial Centre             3,628
1    Abu Baker Al Siddique Metro Station             3,317
6              Al Ghubaiba Metro Station             3,064
38                     Knowledge Village             2,891
33         Healthcare City Metro Station             2,542
46             Palm Deira Metro Stations             2,474
50            Salah Al Din Metro Station             2,237
2                 Abu Hail Metro Station             2,155
5                Al Fahidi Metro Station             1,778
27         Emirates Towers Metro Station             1,727
11               Al Qusais Metro Station             1,624
0                     ADCB Metro Station             1,500
15          Baniyas Square Metro Station             1,307
13                Al Rigga Metro Station             1,272
22                     Deira City Centre             1,221
9                 Al Nahda Metro Station             1,068
10              Al Qiyadah Metro Station             1,003
26                Emirates Metro Station             1,001
49                 STADIUM Metro Station               889
3                      Airport Free Zone               847
12                  Al Ras Metro Station               806
17                Burjuman Metro Station               643
55                   Union Metro Station               301
31                   GGICO Metro Station               259
45               Oud Metha Metro Station               252
41                            Media City               184
4       Airport Terminal 1 Metro Station               152
52                           Terminal 3                142

In [37]:
# Transaction Count by Rooms  
grouped_counts12 = df_cleaned.groupby(['rooms_en'])['transaction_id'].count().reset_index()

# Rename the count column for clarity
grouped_counts12.rename(columns={'transaction_id': 'transaction_count'}, inplace=True)

# Sort by transaction_count before formatting (as it's still numeric)
grouped_counts12.sort_values(by='transaction_count', ascending=False, inplace=True)

# Format transaction_count with commas
grouped_counts12['transaction_count'] = grouped_counts12['transaction_count'].apply(lambda x: f"{x:,}")

# Display result
print(grouped_counts12.head(100))

       rooms_en transaction_count
0         1 B/R           372,564
1         2 B/R           269,501
15       Studio           189,085
2         3 B/R           156,328
10       Office            55,217
3         4 B/R            48,097
12         Shop             6,307
4         5 B/R             4,788
11    PENTHOUSE             1,736
13  Single Room               788
14        Store               319
5         6 B/R               296
6         7 B/R                45
9           GYM                24
7         8 B/R                 4
8         9 B/R                 2

In [38]:
# Transaction Count by Has Parking  
grouped_counts13 = df_cleaned.groupby(['has_parking'])['transaction_id'].count().reset_index()

# Rename the count column for clarity
grouped_counts13.rename(columns={'transaction_id': 'transaction_count'}, inplace=True)

# Sort by transaction_count before formatting (as it's still numeric)
grouped_counts13.sort_values(by='transaction_count', ascending=False, inplace=True)

# Format transaction_count with commas
grouped_counts13['transaction_count'] = grouped_counts13['transaction_count'].apply(lambda x: f"{x:,}")

# Display result
print(grouped_counts13.head(100))

   has_parking transaction_count
1            1           921,809
0            0           505,668

In [41]:
# Transaction Count by Registration Type 
grouped_counts14 = df_cleaned.groupby(['reg_type_en'])['transaction_id'].count().reset_index()

# Rename the count column for clarity
grouped_counts14.rename(columns={'transaction_id': 'transaction_count'}, inplace=True)

# Sort by transaction_count before formatting (as it's still numeric)
grouped_counts14.sort_values(by='transaction_count', ascending=False, inplace=True)

# Format transaction_count with commas
grouped_counts14['transaction_count'] = grouped_counts14['transaction_count'].apply(lambda x: f"{x:,}")

# Display result
print(grouped_counts14.head(100))

           reg_type_en transaction_count
0  Existing Properties           965,191
1  Off-Plan Properties           462,286

In [42]:
# Define New Zealand timezone
nz_tz = pytz.timezone("Pacific/Auckland")

# Get current time in NZ timezone
timestamp = datetime.now(nz_tz).strftime("%Y%m%d_%H%M")

# Create filename with timestamp
filename = f"C:/Users/DSHA-EXT/Desktop/Dubai Land Data/Python Output/Final/DLD Data Transactions Summary_{timestamp}.xlsx"

# Write DataFrames to the timestamped Excel file
with pd.ExcelWriter(filename, engine="xlsxwriter") as writer:
    grouped_counts.to_excel(writer, sheet_name="Transaction Group", index=False)
    grouped_counts1.to_excel(writer, sheet_name="Procedure Name", index=False)  
    grouped_counts2.to_excel(writer, sheet_name="Property Type", index=False)
    grouped_counts3.to_excel(writer, sheet_name="Property Sub Type", index=False)  
    grouped_counts4.to_excel(writer, sheet_name="Property Usage", index=False) 
    grouped_counts14.to_excel(writer, sheet_name="Registration Type", index=False) 
    grouped_counts5.to_excel(writer, sheet_name="Area Name", index=False)
    grouped_counts6.to_excel(writer, sheet_name="Building Name", index=False)
    grouped_counts7.to_excel(writer, sheet_name="Project Name", index=False)
    grouped_counts8.to_excel(writer, sheet_name="Master Project Name", index=False)
    grouped_counts9.to_excel(writer, sheet_name="Nearest Landmark", index=False)
    grouped_counts10.to_excel(writer, sheet_name="Nearest Mall", index=False)
    grouped_counts11.to_excel(writer, sheet_name="Nearest Metro", index=False)
    grouped_counts12.to_excel(writer, sheet_name="Rooms", index=False)
    grouped_counts13.to_excel(writer, sheet_name="Has Parking", index=False)